@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  margin: 10px;
  padding: 0;
  background-color: black;
}

img {
  height: 190px;
  padding-bottom: 15px;
}

.player {
  border: 5px solid grey;
  border-radius: 5px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  background-color: #0A03FF;
  width: 35%;
  margin: 2% 7%;
  float: left;
}

.details {
  text-align: center;
}

.character {
  width: 60%;
  margin: 0 auto;
}

.stats {
  display: inline-block;
  float: right;
  font-size: 15px;
}

@media (max-width: 1200px) {
	.player {
    width: 86%;
  }
  .character {
    width: 35%;
  }
}

@media (max-width: 840px) {
  .character {
    width: 100%;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  .stats {
    display: block;
    float: none;
    text-align: center;
  }
}
